#piedra,
#papel,
#tijeras {
  border: 3px solid white;
}
.icon {
  font-size: 80px;
  color: white;
  text-align: center;
}
#piedra {
  background-color: aqua;
  border-radius: 100%;
  min-height: 150px;
  min-width: 150px;
}
#papel {
  background-color: rgb(243, 243, 19);
  border-radius: 100%;
  min-height: 150px;
  min-width: 150px;
}
#tijeras {
  background-color: palevioletred;
  border-radius: 100%;
  min-height: 150px;
  min-width: 150px;
}
.btnInicio{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.button {
  height: 40px;
  background-color: chartreuse;
}
